/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book{
	background-color:rgb(255, 255, 255);
}
.book-library{
	background-color:#ffffff;
	text-align:center;
}
.book-title{
	text-align:start;
}
.author{
	color:#777777;
	text-align:start;
}
.price{
	background-color:#2ecc71;
	text-align:center;
}
h1{
	background-color:#ffffff; 
}